<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>系统设置</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <!-- <link href="/static/css/bootstrap-theme.css" rel="stylesheet"> -->

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

  </head>

</script>

  <body>

<!-- Static navbar -->
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">WYPROXY Dashboard</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/settings">系统设置</a></li>
            <li><a href="https://github.com/ring04h/wyproxy" target="_blank">帮助</a></li>
          </ul>

<form class="navbar-form navbar-right" action='/txt/?k1='>            
<div class="form-group">
  <input type="text" placeholder="Host='qq.com' and Port='80,443' and Status='200'" name='k1' class="form-control" style="width: 360px">
</div>
<button type="submit" class="btn btn-default">搜索</button>
</form>

        </div>
      </div>
    </nav>


<div class="container">


<div class="panel panel-default">
  <div class="panel-heading">服务控制</div>
  <div class="panel-body">

    <button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-off"></span> 停止服务</button>

    <button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-ok-circle"></span> 启动服务</button>

    <button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-refresh"></span> 清空数据</button>

  </div>
</div>


<footer class="footer">
<p>&copy; 贝塔科技 2016</p>
</footer>

</div> <!-- /container -->
</body>
</html>